

/* FONTS */

@font-face {
  font-family: 'Computer Modern Serif';
  src: font-url('cmunrm.eot');
  src: font-url('cmunrm.eot?#iefix') format('embedded-opentype'),
     font-url('cmunrm.woff') format('woff'),
     font-url('cmunrm.ttf') format('truetype'),
     font-url('cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Serif';
  src: font-url('cmunbx.eot');
  src: font-url('cmunbx.eot?#iefix') format('embedded-opentype'),
     font-url('cmunbx.woff') format('woff'),
     font-url('cmunbx.ttf') format('truetype'),
     font-url('cmunbx.svg#cmunbx') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Serif';
  src: font-url('cmunti.eot');
  src: font-url('cmunti.eot?#iefix') format('embedded-opentype'),
     font-url('cmunti.woff') format('woff'),
     font-url('cmunti.ttf') format('truetype'),
     font-url('cmunti.svg#cmunti') format('svg');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Computer Modern Serif';
  src: font-url('cmunbi.eot');
  src: font-url('cmunbi.eot?#iefix') format('embedded-opentype'),
     font-url('cmunbi.woff') format('woff'),
     font-url('cmunbi.ttf') format('truetype'),
     font-url('cmunbi.svg#cmunbi') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Sans';
  src: font-url('cmunss.eot');
  src: font-url('cmunss.eot?#iefix') format('embedded-opentype'),
     font-url('cmunss.woff') format('woff'),
     font-url('cmunss.ttf') format('truetype'),
     font-url('cmunss.svg#cmunss') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Sans';
  src: font-url('cmunsx.eot');
  src: font-url('cmunsx.eot?#iefix') format('embedded-opentype'),
     font-url('cmunsx.woff') format('woff'),
     font-url('cmunsx.ttf') format('truetype'),
     font-url('cmunsx.svg#cmunsx') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Sans';
  src: font-url('cmunsi.eot');
  src: font-url('cmunsi.eot?#iefix') format('embedded-opentype'),
     font-url('cmunsi.woff') format('woff'),
     font-url('cmunsi.ttf') format('truetype'),
     font-url('cmunsi.svg#cmunsi') format('svg');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Computer Modern Sans';
  src: font-url('cmunso.eot');
  src: font-url('cmunso.eot?#iefix') format('embedded-opentype'),
     font-url('cmunso.woff') format('woff'),
     font-url('cmunso.ttf') format('truetype'),
     font-url('cmunso.svg#cmunso') format('svg');
  font-weight: bold;
  font-style: italic;
}



body {
  font-family: "Helvetica", sans-serif;
  max-width: 860px;
  margin: 0 auto;
	font-size: 1.2em;
	padding: 20px;
  color: #444;
}

h1 {
	text-align: center;
	color: #0083cf;
  font-size: 50px;
}

h3, h4 {
	color: #555;
  font-weight: bold;
}

strong, .important, .important a, strong a {
	color: #860bcd;
}

#links {
  float: left;
  list-style: none;
}

pre {
  background-color: #eee;
  color: #0083cf;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #bbb;
}

img {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  display: block;
}

code {
  background-color: #eee;
  color: #0083cf;
  border-radius: 3px;
  font-size: 1.1em;
  padding: 1px 4px;
  font-weight: bold;
}

hr {
  content: "";
  height: 3px;
  background: #4eb565;
  margin: 20px auto 20px auto;
  border: none;
}

h2 {
	width: 100%;
  text-align: center;
  margin-top: 0;
  font-size: 26px;
  margin-bottom: 0;
  opacity: 0.8;
  font-weight: normal;
  padding-bottom: 0;
  color: #333;
}

h2::after {
  content: "";
  height: 3px;
  background: #4eb565;
  display: block;
  width: 280px;
  margin: 20px auto 20px auto;
  border: none;
}

a {
	color: #0083cf;
}

p, li {
	line-height: 145%;
}

blockquote {
  font-family: "Computer Modern", "Times New Roman", Times, serif;
  border-left: 3px solid #4eb565;
  background-color: #f0f0f0;
  padding: 20px 35px;
  font-style: italic;
  line-height: 1.2em;
  margin: 40px auto;
  display: block;
  max-width: 600px;
}

@media all and (width: 550px) {

  body {
    font-size: 0.8em;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

}
