* {
  font-family: 'Courier New', Courier, monospace;
  color: #ddd;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
}

a {
  color: #02b8ff;
  font-weight: bold;
  text-decoration: none;
}

main {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.cell {
  margin-bottom: 15px;
}

h3 {
  margin-top: 70px;
}